.inputPop {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: "Poppins";
  border: 1px solid #444; 
  border-radius: 8px; 
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #222;
  color: #fff; 
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputPop::placeholder {
  color: #aaa;
  font-weight: lighter;
}
